* {margin:0;padding:0;box-sizing:border-box;}
body	{
	background-color: #F8FFE8;
	width: 700px;
	border: 1px black solid;
	padding: 20px;
	margin: 30px auto 0;
}
h1,h2 {
	text-transform: uppercase;
	border: 1px black solid;
	/* padding: 20px; */
}
h1 {
	color: #04050A;
	background-color: #9f8c7a;
	font-family: 'Lora', serif;
	padding: .8em;
	display: inline-block;
	border: 1px black solid;
	padding: 20px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
p {
	color: #3E4D4F;
	font-family: 'Scope One', serif;
	border: 1px black solid;
	margin: 1em 0;
}

nav {
	background-color: #FFED74;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border: 1px black solid;
	padding: 20px;

}
nav a {
	background-color: #FFEDff;
	color: #9f8c7a;
	display: inline-block;
	border: 1px black solid;
	padding: 20px;
}
img {
	width: 100%;
	display: block;
	border: 1px black solid;
	/* padding: 20px; */
}
header img {
	border-radius:50%;
	width:200px;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	text-align: center;
	padding: 1em 0;
	border: 1px black solid;
	padding: 20px;
}
.slogan {
	font-style: italic;
	border: 1px black solid;
	padding: 20px;
}
#house-training {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#basic-commands {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#behavioral-issues {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#left {
	background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}
#right {
	background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;